@charset "utf-8";

/* 폰트 설정 */
@import "fonts.css";

/* 본문 바로가기 */
.skip-nav {
	display: none;
}

/* main slider 임시*/
.slider-slide > img{
	width:100%
}

.main-div{
	padding:80px 60px;
}

.hire-background{
	background:url('/static/image/bg-img1.jpg') no-repeat left top;
	height:500px; /*임시 설정*/
}

#map{
	height:500px; /*임시 설정*/
}

.footer{
	background-color:#121212;
	color:#fff;
}
.footer > div > p{
	margin-bottom:0;
}
